<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjrac.hyc.dao.UserDao">
<resultMap type="com.tjrac.hyc.pojo.User" id="User">

<id column="uid" property="uid"/>
<result column="uname" property="uname"/>
<result column="upassword" property="upassword"/>

</resultMap>
<!-- resultType返回的结果类型  parameterType参数类型 -->
<select id="judge" resultType="com.tjrac.hyc.pojo.User">
select * from user where uname=#{uname} and upassword=#{upassword};
</select>
  
</mapper>